body{
	background-color: #D0CCD0;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
header{
	background-color: #1C6E8C;
	text-align: center;
    font-size: 4vw;
	padding-bottom: 0,4vw;
    padding-top: 0,4vw;
	margin-bottom: 2vw;
	margin-top: 0;
}

input{
	margin-left: 28vw;
	border: 0.3vw solid #1C6E8C;
	border-radius: 5px;
	height: 2vw;
	width: 19.9vw;
	font-size: 1.1vw;
	margin-top: -10vw;
	display: inline-block!important;
}

button{
	display: inline-block!important;
	background-color: #1C6E8C;
	border: none;
	border-radius: 5px;
	padding: 0.7vw 3.1vw;
	text-align: center;
	font-size: 1.1vw;
	margin-top: -10vw;
	margin-bottom: 3vw;
	cursor: pointer;
}

#search{
	margin-left: 1vw;
	margin-right: 1vw;
	display: inline-block;
}

table{
	border-collapse: collapse;
	border: 0.8vw solid black;
	width: 80vw;
	margin-left: 10vw;
	margin-top: 3vw;
	font-size: 1vw;
	margin-bottom: 4vw;
}

td, th{
    text-align: left;
	padding: 1vw;
	border: 0.1vw solid gray;
}

td{
	background-color: #D0CCD0;
}

th{
	background-color: #bab5ba;
}

tr:hover td{
	background-color: #bab5ba;
}

#insert{
	float: left;
	border: 0.3vw solid #111114;
	border-radius: 5px;
	margin-left: 39vw;
	padding: 0.5vw 0.6vw;
	text-decoration: none;
	color: #1C6E8C;
	background-color: #111114;
	font-size: 1.25vw;
	margin-bottom: 2vw;
}

#insert:hover{
	background-color: #363636;
	border: 0.3vw solid #363632;
}

a{
	color: black;
}

.insert{
	border: 1vw solid black;
	padding-top: 1vw;
	padding-left: 3vw;
	margin: 0 10vw 0 10vw;
}

.insert_label{
	margin-left: 25vw;
	font-size: 1vw;
}

.insert_input{
	margin-top: 0.1vw;
	height: 2vw;
	margin-left: 25vw;
}

select{
	margin-left: 25vw;
	height: 2vw;
	width: 20.8vw;
	border: 0.3vw solid #1C6E8C;
	border-radius: 5px;
	font-size: 1vw;
}

.insert_button{
	width: 15vw;
	margin-left: 27.8vw;
	margin-top: 2vw;
	margin-bottom: 0;
	background-color: #1C6E8C;
	cursor: pointer;
}

#dane{
	display: block;
	text-align: center;
	font-size: 1.8vw;
	background-color: #a39da3;
	padding: 1vw;
	margin-top: -3vw;
	margin-bottom: 2vw;
}

#main_page{
	margin-bottom: 3vw;
}

#main{
	margin-top: 2vw;
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
}

#insert_actor{
	text-decoration: none;
	color: black;
	border: 0.3vw solid #111114;
	border-radius: 5px;
	margin-left: 42vw;
	padding: 0.7vw;
	text-decoration: none;
	color: #1C6E8C;
	background-color: #111114;
	font-weight: bold;
	font-size: 1.25vw;
}

#actors{
	margin-top: 3vw;
}

span{
	font-size: 6vw;
}

#edit_in{
	margin-bottom: 1vw;
}

#update{
	margin-top:0vw;
	margin-bottom:1vw;
}


